*.egg-info/
*.pyc
build
dist/
djangoenv/
docs/build/
example-project/bin/
example-project/db.sqlite3
example-project/include/
example-project/lib/
example-project/local/
example-project/share/

# Pycharm
.idea/*
docs/pycharm/*

